body::before {
    display: block;
    content: "";
    height: 60px;
}

@media screen and (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

#map {
    height: 100%;
    width: 100%;
    border: 10px;
}
